<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employees</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: #e15122;
            color: white;
        }
    </style>
</head>

<body>


    <table id="PatientqueueTable" class="container">


        <thead>
            <tr>
                <th>
                    <h1>First Name</h1>
                </th>
                <th>
                    <h1>Last Name</h1>
                </th>
                <th>
                    <h1>ID</h1>
                </th>
                <th>
                    <h1>E-mail</h1>
                </th>
                <th>
                    <h1>Phone</h1>
                </th>

            </tr>
        </thead>
        <tbody>
            <%p.forEach(user=>{ %>
                <tr>
                    <td>
                        <p>
                            <%= user.FirstName %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.LastName %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.id %>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.email%>
                        </p>
                    </td>
                    <td>
                        <p>
                            <%= user.Phone%>
                        </p>
                    </td>

                </tr>
                <%})%>

        </tbody>
    </table>
</body>

</html>